/* ==========================================================================
   Forms
   ========================================================================== */

.input {
    display: inline-block;
    padding: .75em .5em;
    background: rgba(#000, .1);
    border: 0;
    border-radius: 3px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background $transition;

    &:focus {
        background: rgba(#000, .15);
    }

    .grid & {
        width: 100%;
    }
}

textarea.input {
    height: 200px;
}
