  <footer class="footer" role="contentinfo">

    <div class="container">

      <div class="row align-items-end">

        <div class="col-md-6 text-center text-md-left">

          <div class="d-flex">
            <ion-icon class="footer-icon" name="pin"></ion-icon>
            <address class="mb-0">
              <strong>Think Patented</strong><br />
              2490 CrossPointe Drive<br />
              Miamisburg OH 45342
            </address>
          </div>

          <div class="mt-2">
            <ion-icon class="footer-icon" name="call"></ion-icon>(937) 353-2299<br />
            <ion-icon class="footer-icon" name="mail"></ion-icon><a href="mailto:info@thinkpatented.com">info@thinkpatented.com</a><br />
            <ion-icon class="footer-icon" name="globe"></ion-icon><a href="https://thinkpatented.com">thinkpatented.com</a>
          </div>

        </div>

        <div class="col-md-6 text-center text-md-right">



          <div class="logo text-hide mx-auto mr-md-0">Think Patented</div>

          <div class="copyright">&copy; 2018 Think Patented</div>

        </div>

      </div>

    </div>

  </footer>

  <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="https://thinkpatented.s3.amazonaws.com/customer-survey-2018/assets/js/scripts.min.js"></script>

</body>
</html>
